name: Build, test and generate docs
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make -j2
      - name: Test
        run: |
          cd build
          make test
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: mkdir build
      - uses: mattnotmitt/doxygen-action@master
      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./build/docs/html
